flows.json
[{"id":"f8a64e2f.d353c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"45878e4e.8ef19","type":"http in","z":"f8a64e2f.d353c","name":"in","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":240,"y":200,"wires":[["1dadf849.2841e8"]]},{"id":"7c4098a7.c14ff8","type":"http response","z":"f8a64e2f.d353c","name":"out","statusCode":"","headers":{},"x":580,"y":220,"wires":[]},{"id":"1dadf849.2841e8","type":"template","z":"f8a64e2f.d353c","name":"chatbot","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"4913dc20-ce5a-4a68-918a-7a1b3d313bd6\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"afba4a7a-696f-4ed5-9d24-440d31720f07\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n<html>\n<!DOCTYPE html>\n<head>\n<meta charset=\"UTF-8\"/>\n<title>  </title>\n\n<body style= \"margin-top:0px;\n            margin-right:0px;\n            margin-left:0px;\">\n\n<header style= \" height:30%;\n                background-color:#bf6e5c;\n                color:white;\n                text-shadow:5px 5px 5px #696969;\n                display: flex;\n                flex-direction:column;\n                align-items:center;\n\n\n                \">\n              \n                <div style=\"margin-top:3.01%;\n                            font-style:italic;\n                            font-weight:bold;\n                            font-size:3em;\n                            margin-right:40%;\">Online Booking</div>\n                <div style=\"margin-top:3.02%;\n                            font-style:italic;\n                            font-weight:bold;\n                            font-size:2em;\n                            margin-left:30%;\">Book your Movie Ticket in few seconds ! </div>\n\n\n</heaer>\n<section style=\"display:flex;\n                 margin:0px;\"\n                >\n\n\n\n  <div >\n    <img  style=\"margin-top:40px;\" src=\"https://image.freepik.com/free-vector/concept-booking-movie-ticket-men-women-buy-movie-ticket-online-through-application-mobile-phone-tablet-laptop-devices-with-isometric-3d-flat-cartoon-style_82472-382.jpg\" alt=\"image1\" />\n\n  </div>\n  <div>\n    <img  style=\"margin-top:100px;\n                 margin-left:20%;\n                 height:50%;\n                 width:50%;\"  src=\"https://image.freepik.com/vecteurs-libre/modele-billets-cinema-dessins-vectoriels-divers-tickets-cinema-illustrations-cameras-video-autres-outils_80590-4327.jpg\" alt=\"image2\" />\n\n  </div>\n\n\n\n</section>\n\n</body>\n</html>","output":"str","x":420,"y":180,"wires":[["7c4098a7.c14ff8"]]}]